body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

/* main content section*/

.main_container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1319px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main_content_section {
  margin: 100px 90px;
}

.main_content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 15px;
}

/* about me section */

.about_me_section {
  margin: 0 0 40px 0;
}

.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}

.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
}

.about_me_description {
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my progect section */
.my_project_section {
  margin-bottom: 50px;
}

.my_project_list {
  padding: 0 0 0 18px;
}

.my_projects_item {
  color: #000;
  font-weight: bold;
}

.my_project_bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my_projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my_projects_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my work experience */

.my_work_experience_company {
  color: #fb6d3a;
}

.my_work_experience_position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my_work_experience_period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #171515;
  margin: 0 0 10px 0;
}

.my_work_experience_divider {
  font-weight: bold;
  color: #000;
}

.my_work_experience_duties {
  padding: 0 0 0 18px;
}

.my_work_experience_duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
}

.my_work_experience_company_block {
  margin: 0 15px 0 0;
}
/* education section */

.my_education_section {
  padding-bottom: 15px ;
}

.my_education_section_place {
  margin: 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my_education_section_study {
  margin: 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/*sidebar section*/

.sidebar_section {
  left: 10px;
  background-color: #1e2939;
  width: 370px;
  padding: 40px 10px;
}

.sidebar_photo {
  width: 370px;
}

.contacts_section,
.tech_skills_section,
.soft_skills_section {
  margin: 50px 0 0 40px;
}

.sidebar_title,
.tech_skills_title,
.soft_skills_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/*contacts section*/

.contacts_section_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}

.contacts_section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}

.contacts_icon i{
  vertical-align: middle;
  color: #fff;
  padding-right: 8px;
}

/*tech skills section*/

.tech_skills_list,
.soft_skills_list {
  padding: 0 0 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.tech_skills_item {
  color: #fb6d3a;
}

.tech_skills_text,
.soft_skills_text {
  color: #fff;
}
